/* Reset some default margins and paddings */
 h1, h2, p {
    margin: 0;
    padding: 0;
}

body {
    margin: 0;
    padding: 0;
    background-color: #000;
}


/* Subpage content styling */
.subpage-content {
    position: relative;
    height: 100vh; /* Make the content full-height of the viewport */
    background-image: url("images/night_sky.jpg");
    background-size: cover; /* Scale the image to cover the entire background */
    background-position: center; /* Center the background image */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
}

.policy-box {
    background-color: rgba(255, 255, 255, 0.5); /* Use an RGBA color value with an alpha channel for transparency */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    text-align: left;
}


.cta-button {
    display: inline-block;
    margin-top: 20px;
    padding: 10px 20px;
    border: 1px solid #0079FF;
    color: #0079FF;
    background: none;
    color: #0079FF;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background-color 0.3s ease-in-out;
}

.cta-button:hover {
    background-color: #0079FF;
    color: #000;
    border: 1px solid #000000;
}


@media only screen and (max-width: 560px){
    .policy-box{
        margin-top: 550px;
    }

}


@media only screen and (max-width: 870px) {
    .policy-box{
        margin-top: 550px;
    }
}